name: ML Hotel Pipeline CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-run-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Ensure imblearn is installed
        run: pip install imblearn
      - name: Run ML pipeline
        run: python main.py
      - name: Upload Trained Model
        uses: actions/upload-artifact@v4
        with:
          name: hotel-model
          path: model/best_model.pkl
